.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.timer-state--running {
  color: green;
}

.timer-state--stopped {
  color: red;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons button {
  background-color: #ffffff;
  height: 50px;
  margin: 0 10px;
  min-width: 90px;
}

dl {
    display: flex;
    flex-flow: row wrap;
    border: solid #555;
    border-width: 1px 1px 0 0;
  }
  dt {
    flex-basis: 20%;
    padding: 4px 4px;
    background: #555;
    text-align: right;
    color: #fff;
  }
  dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 4px 8px;
    border-bottom: 1px solid #333;
  }
